{% extends "blogs/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
    <h1>Posts</h1>
{% endblock page_header%}

{% block content %}
<ul>
    {% for post in posts %}
    <div class="card mb-3">
        <h4 class="card-header">
          <a href="{% url 'blogs:post' post.id %}">{{ post.title }}</a>
        </h4>
      <div class="card-body">
        <h5>by {{ post.owner }}</h5>
        <br>
        {% if post.text|length > 100 %}
          {{post.text|slice:":25"}}...<a href="{% url 'blogs:post' post.id %}">Read More</a>
          <br>
          Date added: {{ post.date_added }}
        {% else %}
          {{post.text}}
          <br>
          Date added: {{ post.date_added }}
        {% endif %}
        <br>
        {% if user == post.owner %}
        <small><a href="{% url 'blogs:edit_post' post.id %}">Edit Post</a></small>
        {% endif %}
      </div>
    </div> <!-- panel -->

  {% empty %}
    There are no entries yet.
  {% endfor %}
</ul>

{% endblock content %}